@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,600);

body {
	padding: 0px;
	margin: 0px;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
}

.admin-menu {
	width: 100%;
	background-color: #000000;
	padding: 0px;
	margin: 0px;
}

.admin-menu * {
	font-weight: bold;
}

.admin-menu > ul {
	padding: 0px;
	margin: 0px;
}

.admin-menu ul li {
	list-style: none;
}

.admin-menu ul li a {
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
}

.admin-menu > ul > li {
	display: inline-block;
	padding: 15px 15px;
	color: #ffffff;
	text-transform: uppercase;
	cursor: pointer;
}

.admin-menu > ul > li:hover,
.admin-menu > ul > li:hover > a {
	color: #0793ba;
}

.admin-menu > ul > li > ul {
	position: absolute;
	display: none;
	padding: 0px;
	margin-top: 15px;
	margin-left: -20px;
	background-color: #0793ba;
} 

.admin-menu > ul > li > ul > li {
	padding: 10px 20px;
	cursor: pointer;
	text-transform: uppercase;
}

.admin-menu > ul > li > ul > li:hover a {
	color: #000000;
}

.admin-menu > ul > li > ul > li > a {
	color: #ffffff;
	text-transform: uppercase;
} 

.admin-menu .submenu-visible {
	display: block;
}

.admin-menu .active a {
	color: #0793ba;
}

.admin-menu .submenu .active a,
.admin-menu .submenu.active {
	color: #0793ba;
}

.admin-menu .submenu.active li.active a{
	color: #ffffff;
}

.admin-menu .submenu li a{
	color: #000000;
}

.admin-menu .submenu .active {
	background: #000000;
}

.container {
	width: 100%;
	padding: 30px 0px;
	min-width: 980px;
	background-color: #f0f0f0;
}

.container .inset {
	width: 940px;
	margin: 0px auto;
	padding: 50px;
	background-color: #ffffff;
	padding-bottom: 60px;
	box-shadow: 2px 2px 2px 2px rgba(0,60,190,0.4);
}

.container .inset h2 {
	padding: 0px;
	margin: 0px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.container .inset .widget_area .widget {
	width: 300px;
	height: 200px;
	background-color: #000000;
	color: red;
	display: inline-block;
}


.container .inset .widget_area .widget:nth-child(0n+2) {
	margin-left: 15px;
	margin-right: 15px;
}

.container .inset .button {
	text-decoration: none;
	color: #ffffff;
	background-color: #0793ba;
	margin-top: 20px;
	position: relative;
	top: 20px;
	padding: 8px 20px;
}